bottle==0.12.13
certifi==2017.11.5
chardet==3.0.4
cqhttp==1.1.0
future==0.16.0
idna==2.6
log-calls==0.3.2
olefile==0.44
Pillow==4.3.0
pycurl==7.43.0
python-telegram-bot==9.0.0
requests==2.18.4
urllib3==1.22
coloredlogs==7.3.1
ffmpy==0.2.2