APScheduler==3.3.1
automodinit==0.16
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
cssselect==1.0.1
feedfinder2==0.0.4
feedparser==5.2.1
future==0.16.0
idna==2.5
jieba3k==0.35.1
lxml==4.1.0
newspaper3k==0.2.5
nltk==3.2.5
oauthlib==2.0.2
olefile==0.44
Pillow==4.2.1
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1
python-dateutil==2.6.1
python-telegram-bot==8.0
pytz==2017.2
PyYAML==3.12
requests==2.18.3
requests-file==1.4.2
requests-oauthlib==0.8.0
six==1.10.0
tldextract==2.1.0
tzlocal==1.4
unattended-upgrades==0.1
urllib3==1.22
